.new-todo-field {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.new-todo-field {
  display: flex;
  justify-content: center;
  width: 60%;
}

#newTodo {
  border-radius: 15px;
  font-size: 1.2rem;
}

#btn-add-todo {
  margin-left: 12px;
}

.block-trash_todos {
  display: flex;
  justify-content:space-evenly; 
  width: 100%;
  min-height: 175px;
  align-items: flex-end;
}

.list-of-todo {
  padding-top: 40px;
  width: 80%;
}

li {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0 auto;
  width: 70%;
  word-wrap: break-word;
}

.todo-trash > i {
  color: orangered;
  font-size: 80px;
}

.todo {
  width: inherit;
}

.btn-block {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

button.btn {
  width: 70px;
  height: 50px;
  font-size: 0.7rem;
}

#edit-btn {
  width: 65px;
  height: 20px;
  font-size: 0.8rem;
  line-height: 0px;
  margin-right: 10px;
}

@media screen and (min-width: 800px){
  button.btn {
    width: 100px;
    height: 80px;
  }
}

