<div class="todos-container">
  <div class="new-todo-field">
    <input type="text" value="" id="newTodo" [formControl]="todoForm"/>
    <button id="btn-add-todo" class="btn btn-primary" (click)="newTodoHandler(todoForm.value)">
      Ajouter todo
    </button>
  </div>
  <div class="list-of-todo">
    <ul>
      <li *ngFor="let user of userTodos">
        <p class="todo" *ngIf="user.isDone">
            <del>
                {{ user.todo }}
            </del>
        </p>
        <p class="todo" *ngIf="!user.isDone">
            {{ user.todo }}
        </p>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id={{user.id}} (change)="getCheckedTodo(todoForm.value)" [(ngModel)]="user.isDone">
          <label class="custom-control-label" for={{user.id}}>Done</label>
        </div>
      </li>
    </ul>
    <div class="btn-block">
      <button class="btn btn-primary" (click)="checkingTodoHandler()">
        Cocher les todos
      </button>
      <button class="btn btn-secondary" (click)="unCheckingTodoHandler()">
        Décocher les todos
      </button>
      <button class="btn btn-danger" (click)="deleteTodoHandler()">
        Supprimer les todos terminées
      </button>
    </div>
  </div>
</div>
