.new-todo-field {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.new-todo-field {
  display: flex;
  justify-content: center;
}

#newTodo {
  border-radius: 3px;
  width: 340px;
}

#btn-add-todo {
  margin-left: 12px;
}

.list-of-todo {
  padding-top: 40px;
}

li {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.btn-block {
  display: flex;
  justify-content: space-evenly;
}

button.btn {
  width: 100px;
  height: 80px;
}