/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 40px;
  background-image: url(../src/assets/imgs//landscape_1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}