<main class="user-todos">
    <header>
        <div class="date-block">
          <div class="header-left-block">
              <p class="digitDay">
                  {{ currentDate | date: 'dd'}}
              </p>
          <div class="month-year">
              <P class="month">{{ currentDate | date: 'MMM'}}</P>
              <P class="year">{{ currentDate | date: 'y'}}</P>
          </div>
          </div>
          <div class="header-right-block">
            <p class="capitalDay">
              {{ currentDate | date: 'EEEE' | uppercase}}
            </p>
          </div>
        </div>
      </header>
      <div class="user-todos">
        <app-todo-list></app-todo-list>
      </div>
</main>