<main class="user-todos">
    <header>
        <div class="date-block">
          <div class="header-left-block">
              <p class="digitDay">
                  12
              </p>
          <div class="month-year">
              <P class="month">JAN</P>
              <P class="year">2016</P>
          </div>
          </div>
          <div class="header-right-block">
            <p class="capitalDay">
              TUESDAY
            </p>
          </div>
        </div>
      </header>
      <div class="user-todos">
        <app-todo-list></app-todo-list>
      </div>
</main>