main {
  border: 3px solid white;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  font-family: 'Mali', cursive;
  font-weight: 900;
  word-break: keep-all;
  padding: 0 12px;
}

.date-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: 100%;
}

.header-left-block {
  width: 20%;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
}

.digitDay {
  font-size: 2.5rem;
}

.month-year {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

p.month, p.year {
  margin-bottom: 0;
}